<div class="container-fluid" ng-app="travelApp">
  <div class="panel panel-success">
    <div ng-controller="VacationController" class="panel-body">
      <div ng-repeat="vacation in vacations">
        <p>{{ vacation }}</p>
      </div>
    </div>
  </div>
</div>