<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:600,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'main', media: 'all' %>
  </head>
  <body ng-app="travelApp">
    <div class="loader">

    </div>
    <div class="container-fluid" id="main">
      <div class="root" ng-controller="vacationController">
        <div class="row">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsed-navigation">
                <span class="glyphicon glyphicon-align-justify" style="float:right;"></span>
          </button>
          <div class="col-md-3 collapse navbar-collapse" id="sidebar" id="collapsed-navigation">
            <div class="" >
            
              <div class="branding_bar">
                <%= image_tag("capitalone-logo.png", width:"120px", class:"header_img") %>
              </div>
              <ul class="nav navbar-stacked">
                <!-- Dashboard -->
                <li class="nav_header">Dashboard</li>
                <li class="dropdown">
                  <a class="dropdown-toggle selected" href="" data-toggle="dropdown">Select Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="account in accounts">
                      <a href="" ng-click="selectAccount(account)">{{ account.nickname }}</a>
                    <li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle selected" href="" data-toggle="dropdown">Payment Plans <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="plan in plans">
                      <a href="">Transfer every {{plan.interval}} days of {{plan.transfer_amount | currency:"$"}}</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle selected" href="" data-toggle="dropdown">Trips <b class="caret"></b></a>
                  <ul class="dropdown-menu trips">
                    <li class="menu-item"><a href="">Add Trip</a></li>
                    <li role="presentation" class="divider"></li>
                    <li class="menu-item trip" ng-repeat="vacation in vacations">
                      <a href="" onclick="loadTrip();">{{ vacation.origin }} to {{ vacation.destination }}<span class="glyphicon glyphicon-remove" style="float:right;color:white;margin:0px 5px 0px 5px;padding:2px 5px 0px 5px;" onclick="alert();"></span></a>
                    </li>
                  </ul>
                </li>
                <hr/>
                <!-- Account Section -->
                <li class="nav_header">Account: {{ selectedAccount.nickname }}</li>
                <li><a href=""> Type: <span style="float: right;">{{ selectedAccount.type }}</span></a></li>
                <li><a href=""> Balance: <span style="float: right;">{{ selectedAccount.balance | currency }}</span></a></li>
                <li><a href=""> Rewards: <span style="float: right;">{{ selectedAccount.rewards | currency }}</span></a></li>
                <li><a href=""> Next Transfer: <span style="float: right;">None</span> </a></li>
                <li><a href=""> Remaining Transfers: <span style="float: right;">None</span></a></li>
                <hr/>
                <li><a href="" class="accented">Sign Out</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
          <div class="main_content">
            <ng-view></ng-view>
          </div>
        </div>
      </div>
    </div>

    <footer class="sticky footer">
      <div class="container">
        <div class="txt text-right">
           © Team Win 2016
        </div>
      </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <!--
    <script src="main.js"></script>
    -->
  </body>

  <script type="text/ng-template" id="payment_plans.html">
    <div style="padding-left:10px;max-width: 300px;">
    <h3>How do you want to pay?</h3>
    <h4 style="margin-top: 40px;">Option 1: Pay Now!</h4>
    <form id="pay_now">
     <div class="form-group ">
      <label class="control-label " for="paying_account">
       Select account
      </label>
      <select class="select form-control invput" id="select" name="pay_now_account">
       <option ng-repeat="account in accounts" value="{{account._id}}" ng-model="pay_now_id">{{account.nickname}}</option>
      </select>
     </div>
     <button class="btn btn-success"> Pay {{ vacation.fare | currency:"$" }}</button>
    </form>
    <h4 style="margin-top: 40px;">Option 2: Payment Plan</h4>
    <div>
    <form id="payment_plan">
     <div class="form-group">
      <label class="control-label " for="paying_account">
       Select paying (from) account
      </label>
      <select class="select form-control invput" id="select" name="paying_account" ng-model="plan.paying_account">
       <option ng-repeat="account in accounts" value="{{account._id}}">{{account.nickname}}</option>
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label" for="transfer_account">
       Select transfer (to) account
      </label>
      <select class="select form-control invput" id="select1" name="transfer_account" ng-model="plan.transfer_account">
       <option ng-repeat="account in accounts" value="{{account._id}}">{{account.nickname}}</option>
      </select>
     </div>
     <div class="form-group">
      <label class="control-label" for="start_date">Start date</label>
      <input class="form-control invput" type="text" name="start_date" value="05/04/2016" ng-model="plan.start_date"/> 
     </div>
     <div class="form-group">
      <label class="control-label" for="end_date">End date</label>
      <input class="form-control invput" type="text" name="end_date" value="05/05/2016" ng-model="plan.end_date" /> 
     </div>
     <div class="form-group ">
      <label class="control-label " for="number">
       Interval (days between payments)
      </label>
      <input class="form-control invput" id="number" name="number" type="text" ng-model="plan.interval"/>
     </div>
     <button class="btn btn-success" ng-click="createPlan()">Set up plan</button>
    </form>
    </div>
    </div>
  </script>

  <script type="text/ng-template" id="vacations.html">
  <div class="spacer" id="spacer"></div>
  <div class="container">
    <div class="row" id= "view-trip" hidden></div>
    <div class="row" id= "add-trip">
      <form id="trip">
      <h5 class="header">Plan Your Trip</h5>
      <!-- <input class="invput" value="My Capital One Trip" placeholder="Name Your Trip"> --> 
      Dates:
      <input class="invput" type="text" name="daterange" value="05/04/2016 - 05/14/2016" /> <br/>
      Departing from: <input class="autocomplete invput" type="text" name="keyword" placeholder="Airport code" ng-model="origin"/> <br/><!-- replace value with {{date}} -->
      With a budget of: $<input class="invput" value="300.00" ng-model="max_price" placeholder="What's your budget?">
      <br/>
      <input type="button" value="Search" id="submit_form_btn" ng-click="getFlights()">
      <hr/>
      </form>
      <div class="results" style="width:100%;height:100%;max-height:1000px;min-height:500px;">
        <ul class="flight-result">
          <li class="flight-box" ng-repeat="flight in flights.FareInfo | orderBy:'+LowestFare.Fare'" ng-click="selectFlight(flight)" data-toggle="modal" data-target="#myModal">
            <img src="">
            <div class="flight-price"><center><span style="font-size:19px">{{ flight.LowestFare.Fare | currency:"$" }}</span><center></div>
            <div class="flight-destination">Destination: <span style="float:right;">{{ flight.DestinationLocation }}</span></div>
            <div class="flight-distance">Distance: <span style="float:right;">{{ flight.Distance }} miles</span></div>
            <div class="flight-price-per-mile">PPM: <span style="float:right;">{{ flight.PricePerMile | currency:"$"}}/mile</span></div>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Plan Your Vacation to {{ selectedFlight.DestinationLocation }}</h4>
        </div>
        <div class="modal-body">
          <p>Here are some things you could do at your destination:</p>
          <ul>
            <li ng-repeat="result in places.results">
              {{ result.name }} at {{ result.formatted_address }}
            </li>
          <ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="createVacation(flights)" data-dismiss="modal">Book Vacation!</button>
        </div>
      </div>
    </div>
  </div>
  </script>
</html>