<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:600,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'main', media: 'all' %>
  </head>
  <body>
    <div class="loader">

    </div>
    <div class="container-fluid" id="main" ng-app="travelApp">
      <div class="root" ng-controller="vacationController">
        <div class="row">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsed-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-align-justify"></span>
                <span class="navmenu">Menu</span>
          </button>
          <div class="col-md-3" id="sidebar">
            <div class="collapse navbar-collapse" id="collapsed-navigation">
            
              <div class="branding_bar">
                <%= image_tag("capitalone-logo.png", width:"120px", class:"header_img") %>
              </div>
              <ul class="nav navbar-stacked">
                <!-- Dashboard -->
                <li class="nav_header">Dashboard</li>
                <li class="dropdown">
                  <a class="dropdown-toggle selected" href="#" data-toggle="dropdown">Select Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="account in accounts">
                      <a href="#" ng-click="selectAccount(account)">{{ account.nickname }}</a>
                    <li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle selected" href="#" data-toggle="dropdown">Payment Plans <b class="caret"></b></a>
                </li>
                <li class="dropdown"><a class="dropdown-toggle selected" href="#" data-toggle="dropdown">Trips <b class="caret"></b></a>
                  <ul class="dropdown-menu trips">
                  <li class="menu-item"><a href="#">Add Trip</a></li>
                    <li role="presentation" class="divider"></li>
                    <li class="menu-item dropdown dropdown-submenu trip" ng-repeat="vacation in vacations">
                      <a href="#" onclick="loadTrip();">{{ vacation.origin }} to {{ vacation.destination }}<span class="glyphicon glyphicon-remove" style="float:right;color:red;"></span></a>
                    </li>
                  </ul>
                </li>
                <hr/>
                <!-- Account Section -->
                <li class="nav_header">Account: {{ selectedAccount.nickname }}</li>
                <li><a href="#"> Type: <span style="float: right;">{{ selectedAccount.type }}</span></a></li>
                <li><a href="#"> Balance: <span style="float: right;">{{ selectedAccount.balance | currency }}</span></a></li>
                <li><a href="#"> Rewards: <span style="float: right;">{{ selectedAccount.rewards | currency }}</span></a></li>
                <li><a href="#"> Next Transfer: <span style="float: right;">TBD</span> </a></li>
                <li><a href="#"> Remaining Transfers: <span style="float: right;">TBD</span></a></li>
                <hr/>
                <li><a href="#" class="accented">Sign Out</a></li>
              </ul>
            </div>
          </div><!-- /.navbar-collapse -->
          <div class="main_content">
            <div class="spacer" id="spacer"></div>
            <div class="container">
              <div class="row" id= "view-trip" hidden></div>
              <div class="row" id= "add-trip">
                <form id="trip">
                <h5 class="header">Add Trip</h5>
                <input class="invput" value="My Capital One Trip" placeholder="Name Your Trip"> <br/> From
                <input class="invput" type="text" name="daterange" value="05/04/2016 - 05/14/2016" /> <br/>
                Departing from: <input class="autocomplete invput" type="text" name="keyword" placeholder="Airport code" ng-model="origin"/> <br/><!-- replace value with {{date}} -->
                With a budget of: $<input class="invput" value="300.00" ng-model="max_price" placeholder="What's your budget?">
                <br/>
                <input type="button" value="Search" id="submit_form_btn" ng-click="getFlights()">
                <hr/>
                </form>
                <div class="results" style="width:100%;height:100%;max-height:1000px;min-height:500px;">
                  <ul class="flight-result">
                    <li class="flight-box" ng-repeat="flight in flights | orderBy:'+LowestFare.Fare'">
                      <img src="">
                      <div class="flight-price"><center><span style="font-size:19px">{{ flight.LowestFare.Fare | currency:"$" }}</span><center></div>
                      <div class="flight-destination">Destination: <span style="float:right;">{{ flight.DestinationLocation }}</span></div>
                      <div class="flight-distance">Distance: <span style="float:right;">{{ flight.Distance }} miles</span></div>
                      <div class="flight-price-per-mile">PPM: <span style="float:right;">{{ flight.PricePerMile | currency:"$"}}/mile</span></div>
                    </li>
                  </ul>
                </div>
              </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
    <footer class="sticky footer">
      <div class="container">
        <div class="txt text-right">
          Created By Team Win
        </div>
      </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <!--
    <script src="main.js"></script>
    -->
    <script>$('input[name="daterange"]').daterangepicker();</script>
  </body>
</html>