body{
	padding-top:20px;
	color:#efefef;
	background-color:rgba(48,62,78,0.975);
	background-image:image-url("img1.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
}
a:active, a{
	color:white;
}
.header_img{
	margin-left:5px;
}
.row{
	max-width:100%;
	overflow:hidden;
}
footer{
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	min-height:33px;
	background-color:rgba(0,0,0,.925);
	z-index:999999999;
}
#main{
	overflow:hidden;
	margin-left:5px;
	margin-right:5px;
	padding-bottom:15px;
	padding-top:15px;
	padding-right:5px;
	background-color:rgba(0,0,0,.3);
}
a{
	color:#efefef;
}
form > * {
	margin-top:10px;
}
.main_content{
	padding-left:310px;
	overflow:wrap;
}
#sidebar{
	border-right:1px solid rgba(255,255,255,.25);
	position:fixed;
	min-width:300px;
	max-width:300px;
	top:0px;
	bottom:-50px;
	background-color:rgba(48,62,78,0.975);
	margin-left:5px;
	margin-bottom:50px;
	z-index:9999;
}.spacer{
	float:left;
	min-width:305px;
	min-height:100%;
}
#submit_form_btn{
	margin-top:30px;
	margin-bottom:10px;
	border-radius:4px;
	border:1px solid rgba(0,0,0,0);
	background-color:#1ab188;
}
.invput{
	border:none;
	border-bottom: 1px solid rgba(255,255,255,.5);
	border-radius:0px;
	background-color:rgba(0,0,0,0);
	padding-left:5px;
	padding-top:5px;
}
.invput.money{
	max-width:50px;
}
.invput:hover{
	border-bottom: 1px solid rgba(255,255,255,.5);
}
.invput:focus, .invput:active{
	border:none;
}
.header{
	color:#afafaf;
}
.nav_header{
	font-size:17px;
	color:#ccc;
	padding-left:15px;
}
.container{
	margin:10px;
}
.container #main{

}
.branding_bar{
	min-height:50px;
	overflow:hidden;
	margin-bottom:20px;
	padding:5px;
}
#navbar_cont{
	padding:0px !important;
}
.nav{
	width:100%;
}
.nav li {
	width:100%;
}
.nav li a{
	border-radius:5px;
}
.nav li a:hover{
	background-color:rgba(0,0,0,.2);
	color:white;
}
.nav li a.accented{
	background-color: rgba(255,62,78,0.975);
}
.nav li a.accented:active, .nav li a.accented:focus{
	background-color: rgba(255,62,78,1);
}
.nav li a:active, .nav li a:focus, li.dropdown.open > a{
	background-color:rgba(0,0,0,.2);
	color:white;
}
.dropdown-toggle:active, .dropdown-toggle:focus{
	background-color:rgba(0,0,0,.2);
	color:white;
}
.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
}
.dropdown-menu{
	position:absolute;
	border-radius:0px;
	background-color:rgba(48,62,78,0.975);
	left:100%;
	top:50%;
	color:white;
    -webkit-box-shadow: 10px 10px 3px -8px rgba(0,0,0,0.55);
    moz-box-shadow: 10px 10px 3px -8px rgba(0,0,0,0.55);
	box-shadow: 10px 10px 3px -8px rgba(0,0,0,0.55);
}
.dropdown-menu li a{
	border-radius:0px;
	color:white;
}
.dropdown-submenu{
	color:inherit;
	border:1px solid rgba(255,255,255,0.9);
	background-color:rgba(255,255,255,.925);
}
ul, li{
	list-style-type: none;
	padding:0px;
	margin:0px;
}
.flight-box{
	font-family:helvetica;
	-webkit-box-shadow: 10px 10px 3px -8px rgba(0,0,0,0.55);
    moz-box-shadow: 10px 10px 3px -8px rgba(0,0,0,0.55);
	box-shadow: 10px 10px 3px -8px rgba(0,0,0,0.55);
	margin:7px;
	padding:15px;
	min-width:285px;
	max-width:285px;
	min-height:300px;
	background-color:rgba(88,102,118,0.975);;
	float:left;
	color:inherit;
	font-size:15px;
	border-radius:2px;
	opacity:.925;
}
.flight-box:hover{
	background-color:rgba(90,104,120,1);
	transform: scale(1.05);
	opacity:1;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
}
.flight-box img{
	width:100%;
	height:150px;
	margin-bottom:10px;
	background-image:image-url("background2.jpg");
	border:0px;
}
.flight-box.selected{
	transform: scale(1.05);
}
.modal-content{
	color:#333;
}
.calendar-table thead{
	color:black;
}
.calandar td.available{
	color:gray;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(0,0,0,.2);
}
.dropdown-menu>li>a:hover{
	background-image:none;
}